{{ if eq (len .imageUrls) 0 }}
<span class="flex justify-around p-4">Füge ein paar Bilder hinzu und mach deine Seite noch schöner!</span>
{{ else }}
<div id="dealer-image-list" class="grid grid-cols-3 gap-2">
  {{ range .imageUrls }}
  <img src="{{ . }}" alt="Dealer image" class="h-36 w-full object-cover" />
  {{ end }}
</div>
{{ end }}
<div class="absolute bottom-16 right-4">
  <button class="btn-circle p-2" @click="input.click()">
    <img src="/static/images/icons/plus.svg" alt="Add image" />
  </button>
</div>

<input
  id="input"
  name="image"
  type="file"
  hx-target="#dealer-image-list"
  hx-swap="beforeend"
  hx-post="/dealer-images"
  hx-encoding="multipart/form-data"
  hidden />
