<div id="ratings-list" class="flex">
    {{ if eq (len .ratings) 0 }}
        {{ if .isOwner }}
            <span class="w-full pt-4 text-center">Leider hat dich noch niemand bewertet 🙁</span>
        {{ else }}
            <div>
                <p>Sei der erste der eine Bewertung schreibt!</p>
                <p>(nur für Pro-Mitglieder)</p>
            </div>
        {{ end }}
    {{ end }}
</div>
