<div class="flex flex-col gap-2" x-data="{openDetailsId: ''}">
  {{ range .deals }}
  <div class="flex flex-col">
    {{ template "deal-list-item-header" . }}
    <span class="bg-slate-500 p-2" @click="openDetailsId = openDetailsId === '{{ .ID }}' ? '' : '{{ .ID }}'">
      {{ .Title }}
    </span>

    <span
      hx-get="/deals/details/{{ .ID }}"
      hx-target="#details-{{ .ID }}"
      hx-trigger="intersect once"
      hx-swap="outerHTML"
      x-show="openDetailsId === '{{ .ID }}'">
      <div id="details-{{ .ID }}"></div>
    </span>
  </div>
  {{ end }}
</div>
