{{ define "dealer-profile-header" }}
<div class="flex h-48 flex-col">
  <div class="flex justify-around">
    <div class="flex flex-col pt-2">
      <span class="text-xs text-[#6a828c]"><b>Kategorie</b></span>
      <span class="text-xs font-extralight italic text-[#6a828c]">{{ .category }}</span>
      <span class="pb-2 pt-8 text-2xl">{{ .account.Username }}</span>
      <span>{{ .account.Street }} {{ .account.HouseNumber }}</span>
      <span>{{ .account.ZipCode }} {{ .account.City }}</span>
    </div>
    <div class="-mt-6 mr-8 flex flex-col items-center gap-2">
      <ProfilePicture {imageUrl} />
      <div class="absolute right-0 top-36">
        <div class="flex items-center gap-4">
          <a class="btn rounded-l-full rounded-r-none" href="/deal/new">Neuer Deal</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
