<nav id="header" class="h-12 border-b border-b-white border-opacity-25" x-data="{showMenu: false}">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex h-12 items-center justify-between">
      <a href="/"><img class="h-7" src="/static/images/logo-text.svg" alt="Logo" /></a>
      <div class="hidden gap-1 md:flex">
        {{ if not .isAuthenticated }}
        <a class="menu-item" href="/login">Login</a>
        <a class="menu-item" href="/signup">Registrieren</a>
        {{ else }}
        <a class="menu-item" href="/logout">Logout</a>
        {{ end }}
      </div>
      <div class="flex select-none md:hidden" @click="showMenu = !showMenu">
        <div class="h-6 w-6 cursor-pointer text-gray-300">
          <span class="sr-only">Open main menu</span>
          <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" x-show="showMenu === true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
          <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" x-show="showMenu === false">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div
    class="absolute right-1 top-10 z-50 select-none rounded-xl bg-gray-600 md:hidden"
    x-transition.duration.300ms
    x-show="showMenu"
    @click.outside="showMenu = false">
    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
      {{ if not .isAuthenticated }}
      <a class="menu-item block" href="/login">Login</a>
      <a class="menu-item block" href="/signup">Registieren</a>
      {{ else }}
      <a class="menu-item block" href="/logout">Logout</a>
      {{ end }}
    </div>
  </div>
</nav>
