<section
  id="modal-template"
  class="absolute bottom-0 left-0 right-0 top-0 z-10 bg-transparent px-10 py-32 backdrop-blur">
  <div class="rounded bg-slate-300 p-4">
    <div class="flex justify-between">
      <span>Titel</span>
      <button class="rounded-full" hx-delete="/ui/remove" hx-target="#modal-template" hx-swap="outerHTML">X</button>
    </div>
    <div class="from-input" x-data="{r: 0.5}">
      <label for="radiu">Umkreis</label>
      <span x-text="r"></span>
      <span>km</span>
      <input id="radis" type="range" min="0.5" max="25" step="0.5" x-model="r" />
    </div>
  </div>
</section>
