<input type="text" placeholder="Email" name="email">
<input type="text" placeholder="Firmenname" name="username">
<div class="flex gap-2">
    <input type="password" placeholder="Passwort" name="password">
    <input type="password" placeholder="Passwort wiederholen" name="passwordRepeat">
</div>
<select name="category">
    <option selected disabled hidden>Branche</option>
    {{ range .categories }}
    <option value="{{ .ID }}">{{ .Name }}</option>
    {{ end }}
</select>
<div class="grid grid-cols-3 gap-2">
    <input class="col-span-2" type="text" placeholder="Straße" name="street">
    <input type="text" placeholder="Hausnummer" name="houseNumber">
</div>
<div class="grid grid-cols-3 gap-2">
    <input class="col-span-2" type="text" placeholder="Ort" name="city">
    <input type="number" placeholder="PLZ" name="zipCode">
</div>
<input type="text" placeholder="Telefon" name="phoneNumber">
<input type="text" placeholder="Umsatzsteuer ID" name="taxId">