@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-[#a6adba];
  }

  button,
  .btn {
    @apply select-none rounded-lg bg-gray-700 px-4 py-3 text-center text-white transition duration-300 ease-in-out hover:bg-gray-800 focus:outline-none;
  }

  .btn-outline {
    @apply border border-gray-700 bg-transparent text-white hover:bg-gray-800;
  }

  input,
  select,
  textarea {
    @apply flex h-10 w-full items-center justify-center rounded-lg border border-gray-700 bg-white/0 p-4 text-sm outline-none;
  }

  textarea {
    @apply py-2;
  }

  select {
    @apply appearance-none;
  }

  .checkbox,
  .radio {
    @apply h-5 w-5;
  }

  .menu-item {
    @apply rounded-md px-2 py-1 text-white hover:bg-gray-700 hover:text-yellow-200;
  }

  .form-input label {
    @apply select-none pl-1 text-sm;
  }

  .form-input-checkbox {
    @apply flex select-none items-center gap-2;
  }

  .fade-in.htmx-added {
    opacity: 0;
  }

  .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }

  .fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  .htmx-indicator {
    display: none;
  }
}
