<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover" />
    <link rel="icon" href="/static/favicon.svg" />
    <link rel="stylesheet" href="/static/app.css" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Cockaigne City</title>
  </head>

  <body>
    <div hx-get="/ui/partials/header" hx-swap="outerHTML" hx-trigger="load"></div>
    <main class="p-4 pb-12 md:px-52">{{ embed }}</main>
    <div hx-get="/ui/partials/footer" hx-swap="outerHTML" hx-trigger="load"></div>
  </body>
</html>
