<div class="flex flex-col gap-2" x-data="{openDetailsId: ''}">
  {{ range .dealHeaders }}
  <div id="deal-{{ .ID }}">
    {{ if or (not $.onDealerPage) (not $.isDealer) }}
    <div class="flex items-center justify-between bg-[#232b2e] px-2 py-0.5">
      <a href="/dealer/{{.DealerId}}" class="flex items-center text-sm text-[#b2b2b2]">{{ .Username }}</a>
      <a href="/dealer/{{.DealerId}}" class="pr-1">
        <img src="/static/images/icons/double-arrow.svg" alt="Zum Dealer springen" class="h-3" />
      </a>
    </div>
    {{ end }}
    <div
      class="flex cursor-pointer items-center justify-between bg-[#2c363a] p-2"
      @click="openDetailsId = openDetailsId === '{{ .ID }}' ? '' : '{{ .ID }}'">
      <span>{{ .Title }}</span>
      {{ if $.isDealer }}
      <button class="clean" @click.stop="">
        <img src="/static/images/icons/cog.svg" alt="Deal Einstellungen" class="h-5" />
      </button>
      {{ else }}
      <div
        hx-get="/deal-favorite/{{ .ID }}?is_favorite_list={{ or $.isFavoriteList false }}"
        hx-trigger="intersect once"
        hx-target="this"></div>
      {{ end }}
    </div>

    <div
      class="flex flex-col justify-between bg-[#323e42] p-2"
      hx-get="/deal-details/{{ .ID }}"
      hx-target="#details-footer-{{ .ID }}"
      hx-trigger="intersect once"
      hx-swap="outerHTML"
      x-show="openDetailsId === '{{ .ID }}'">
      <div id="details-footer-{{ .ID }}"></div>
    </div>
  </div>
  {{ end }}
</div>
