package view

templ EmailChangePage(lang string) {
	@BaseLayout() {
		<form class="flex flex-col gap-6 p-6" hx-post="/api/send-email-change-email">
			<h1 class="text-center">{ t("email_change", lang) }</h1>
			<span>
				{ t("email_change_description", lang) }
			</span>
			<div class="form-control">
				<label for="email">E-Mail</label>
				<input id="email" name="email" type="email"/>
			</div>
			<div class="grid grid-cols-2 gap-4">
				<a class="btn btn-primary" href="/settings">{ t("back", lang) }</a>
				<button class="btn btn-warning">{ t("send", lang) }</button>
			</div>
		</form>
	}
}

templ EmailChangeResultPage(err bool) {
	@BaseLayout() {
		<section class="flex flex-col gap-6 p-6 text-center">
			if err {
				<h1>E-Mail nicht geändert</h1>
				<span>Leider konnte deine E-Mail Adresse nicht geändert werden 🙁</span>
				<span>Bitte versuche es später nochmal</span>
			} else {
				<h1>E-Mail geändert</h1>
				<span>Deine E-Mail Adresse wurde erfolgreich geändert 🥳</span>
				<span>Du kannst diese Seite jetzt schließen</span>
			}
		</section>
	}
}
