package view

templ SubscribeSuccess() {
	@BaseLayout() {
		<section class="p-4">
			<h1>Glückwunsch zum Abo!</h1>
			<div class="flex flex-col items-center gap-10 py-4">
				<span>
					Wir freuen uns, dass du dich für ein Abo entschieden hast. Lege gleich los und erstelle einen neuen Deal!
				</span>
				<a class="btn btn-warning" href="/deal/new">--&gt; Erstelle einen neuen Deal &lt;--</a>
			</div>
		</section>
	}
}
