<div class="grid grid-cols-3 gap-1 py-2">
  {{ range $url := .imageUrls}}
  <img src="{{ $url }}" alt="Deal image" />
  {{ end }}
</div>
{{ if .isUser }}
<span class="py-4 text-xs">Endet am 1.1.2222</span>
<div class="flex h-6 justify-between">
  <div class="flex items-center gap-3">
    <button class="clean">
      <img src="/static/images/icons/like-outline.svg" alt="Like or dislike" class="h-6" />
    </button>
    <span class="text-lg">0</span>
  </div>
  <button class="clean">
    <img src="/static/images/icons/report.svg" alt="Report deal" class="h-6" />
  </button>
</div>
{{ else }}
<div class="flex justify-between text-xs">
  <span>Von: {formatDate(deal.start)}</span>
  <div class="flex items-center gap-1">
    <span>0</span>
    <img src="/static/images/icons/like-outline.svg" alt="Likes" />
  </div>
  <span>Bis: 12.12.2222</span>
</div>
{{ end }}
