<form hx-post="/api/accounts/filter" hx-target="#modal">
  <div class="from-input" x-data="{r: {{ .searchRadius }}}">
    <label for="radiu">Umkreis</label>
    <span x-text="r * 2 / 1000"></span>
    <span>km</span>
    <input id="radis" type="range" name="searchRadiusInMeters" min="500" max="25000" step="500" x-model="r" />
  </div>
  <div class="flex flex-col gap-2">
    {{ range .categories }}
    <div class="form-input-checkbox">
      <input
        type="checkbox"
        id="{{ .Name }}"
        class="checkbox"
        name="favoriteCategoryIds"
        value="{{ .ID }}"
        :checked="{{ .IsFavorite $.favCategoryIds }}" />
      <label for="{{ .Name }}">{{ .Name }}</label>
    </div>
    {{ end }}
  </div>
  <div class="grid grid-cols-2 gap-4 pt-6">
    <button>Speichern</button>
    <button class="btn-outline" hx-delete="/ui/remove" hx-target="#modal">Abbrechen</button>
  </div>
</form>
