<form hx-post="/api/accounts/use-location-service" hx-target="#modal">
  <div class="flex flex-col gap-4">
    <input x-show="!useLocationService" x-model="address" name="address" />
    <div x-show="useLocationService" class="flex items-center gap-2 p-3">
      <img x-show="determineLocation" src="/static/images/spinner.svg" alt="spinner" class="h-8 w-8 animate-spin" />
      <span x-text="address"></span>
    </div>
    <div class="flex select-none items-center gap-4">
      <input
        id="use-location-service"
        class="checkbox"
        type="checkbox"
        name="use-location-service"
        @change="getCurrentPosition"
        x-model="useLocationService" />
      <label for="use-location-service">Aktuellen Standort verwenden</label>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 pt-6">
    <button @click="searchAddress">Speichern</button>
    <button class="btn-outline" hx-delete="/ui/remove" hx-target="#modal">Abbrechen</button>
  </div>
</form>
