<form
  class="flex flex-col gap-4 p-4"
  hx-post="/api/deals"
  hx-target="#alert"
  enctype="multipart/form-data"
  x-data="data">
  <!------------>
  <!-- Title  -->
  <!------------>
  <div class="form-input">
    <label for="title">Titel</label>
    <input id="title" type="text" name="title" />
  </div>

  <!------------------>
  <!-- Description  -->
  <!------------------>
  <div class="form-input">
    <label for="description">Beschreibung</label>
    <textarea id="description" class="h-32" rows="10" name="description"></textarea>
  </div>

  <!------------------------->
  <!-- Category selection  -->
  <!------------------------->
  <div
    hx-get="/ui/category-select?name=Kategorie&selected={{ .deal.CategoryId }}"
    hx-trigger="load once"
    hx-target="this"></div>

  <!------------------->
  <!-- Add pictures  -->
  <!------------------->
  <span>
    Bilder hinzufügen
    <span class="text-xs">(optional)</span>
    :
  </span>
  <div class="grid grid-cols-3 gap-2">
    <div>
      <button x-show="!imagePreviewUrls[0]" @click.prevent="$refs.fileInput0.click()" class="btn-outline h-24 w-full">
        +
      </button>
      <img
        x-show="imagePreviewUrls[0]"
        :src="imagePreviewUrls[0]"
        @click="remove($refs.fileInput0, 0)"
        class="h-24 w-full object-cover" />
      <input x-ref="fileInput0" type="file" hidden @change="add($event, 0)" name="images" />
    </div>
    <div>
      <button x-show="!imagePreviewUrls[1]" @click.prevent="$refs.fileInput1.click()" class="btn-outline h-24 w-full">
        +
      </button>
      <img
        x-show="imagePreviewUrls[1]"
        :src="imagePreviewUrls[1]"
        @click="remove($refs.fileInput1, 1)"
        class="h-24 w-full object-cover" />
      <input x-ref="fileInput1" type="file" hidden @change="add($event, 1)" name="images" />
    </div>
    <div>
      <button x-show="!imagePreviewUrls[2]" @click.prevent="$refs.fileInput2.click()" class="btn-outline h-24 w-full">
        +
      </button>
      <img
        x-show="imagePreviewUrls[2]"
        :src="imagePreviewUrls[2]"
        @click="remove($refs.fileInput2, 2)"
        class="h-24 w-full object-cover" />
      <input x-ref="fileInput2" type="file" hidden @change="add($event, 2)" name="images" />
    </div>
  </div>

  <!--------------------------------------------------------------------------->
  <!-- Switch between start date or start instatnly and end date or runtime  -->
  <!--------------------------------------------------------------------------->
  <div class="flex gap-6">
    <div class="form-input-checkbox">
      <input id="start-immediately" type="checkbox" class="checkbox" name="startInstantly" x-model="startInstantly" />
      <label for="start-immediately">Sofort starten</label>
    </div>
    <div class="form-input-checkbox">
      <input id="runtime" type="checkbox" class="checkbox" name="ownEndDate" x-model="ownEndDate" />
      <label for="runtime">Individuelle Laufzeit</label>
    </div>
  </div>

  <!------------------------------------>
  <!-- Start date or start instatnly  -->
  <!------------------------------------>
  <div class="form-input" x-show="!startInstantly">
    <label for="start-date-input">Start</label>
    <input
      id="start-date-input"
      type="datetime-local"
      name="startDate"
      value="{{ .deal.Start.Format `2006-01-02T15:04` }}" />
  </div>
  <div class="py-5 text-sm" x-show="startInstantly">
    <span>Dein Deal startet sofort, wenn du auf "Erstellen" klickst!</span>
  </div>

  <!----------------------------------------->
  <!-- End date or runtime 1, 2 or 3 days  -->
  <!----------------------------------------->
  <div class="flex select-none gap-4">
    <div class="form-input w-full" x-show="ownEndDate">
      <label for="duration-input">Ende</label>
      <input id="duration-input" type="date" name="endDate" />
    </div>
    <div class="form-input w-full" x-show="!ownEndDate">
      <span class="text-sm">Laufzeit</span>
      <div class="flex items-center gap-2">
        <span x-text="runtime"></span>
        <span>Tag(e)</span>
        <input name="duration" type="range" min="1" max="10" step="1" x-model="runtime" />
      </div>
    </div>
  </div>

  <!------------------------------------>
  <!-- Save additionally as template  -->
  <!------------------------------------>
  <div class="form-input-checkbox pt-10">
    <input id="template" type="checkbox" class="checkbox" name="template" />
    <label for="template">Zusätzlich als Vorlage speichern</label>
  </div>

  <!--------------------->
  <!-- Save and cancel -->
  <!--------------------->
  <div class="grid grid-cols-2 gap-2">
    <button>Erstellen</button>
    <a href="/" class="btn btn-outline">Abrechen</a>
  </div>
</form>
<div id="alert"></div>

<script>
  const data = {
    startInstantly: false,
    ownEndDate: false,
    runtime: 1,
    imagePreviewUrls: [null, null, null],
    add: function (event, index) {
      const file = event.target.files[0];

      if (!file) {
        return;
      }

      const URL = window.URL || window.webkitURL;
      this.imagePreviewUrls[index] = URL.createObjectURL(file);
    },
    remove: function (input, index) {
      this.imagePreviewUrls[index] = null;
      input.value = null;
    }
  };
</script>
