<form class="flex flex-col gap-4" hx-post="/api/deals">
    <input type="text" placeholder="Titel" name="title">
    <textarea class="h-32" rows="10" placeholder="Beschreibung" name="description"></textarea>
    <div hx-get="/ui/category-select" hx-trigger="load" hx-swap="outerHTML"></div>
    <button>Bild hinzufügen (0/3)</button>
    <div class="flex gap-4 select-none">
        <div class="flex gap-2 items-center">
            <input id="runtime" type="checkbox" class="checkbox" name="individuallyRuntime"
                hx-get="/deal-start-timepicker" />
            <label for="runtime">Individuelle Laufzeit</label>
        </div>
        <div class="flex gap-2 items-center">
            <input id="start-immediatly" type="checkbox" class="checkbox" name="startDealImmediately" />
            <label for="start-immediatly">Sofort starten</label>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <label for="start-date" class="text-xs pl-2">Start</label>
        <input id="start-date" type="datetime-local" name="startDate" />
    </div>
    <div class="flex flex-col gap-2">
        <label for="duration">Laufzeit</label>
        <input id="duration" type="date" name="endDate" />
    </div>
</form>
{{ . }}