<form class="flex flex-col gap-4" hx-post="/api/deals">
    <input type="text" placeholder="Titel" name="title">
    <textarea class="h-32" rows="10" placeholder="Beschreibung" name="description"></textarea>
    <div hx-get="/ui/category-select" hx-trigger="load" hx-swap="outerHTML"></div>
    <button>Bild hinzufügen (0/3)</button>
    <div class="flex gap-4 select-none">
        <div class="flex gap-2 items-center">
            <input id="start-immediately" type="checkbox" class="checkbox" name="startDealImmediately"
                   hx-get="/ui/start-deal-timepicker" hx-target="#start-deal"/>
            <label for="start-immediately">Sofort starten</label>
        </div>
        <div class="flex gap-2 items-center">
            <input id="runtime" type="checkbox" class="checkbox" name="individuallyRuntime"
                   hx-get="/ui/duration-timepicker" hx-target="#duration"/>
            <label for="runtime">Individuelle Laufzeit</label>
        </div>
    </div>
    <div class="flex flex-col gap-4 justify-center">
        <div id="start-deal" hx-get="/ui/start-deal-timepicker?datetime={{ .deal.Start }}" hx-target="#start-deal"
             hx-trigger="load"></div>
        <div id="duration" hx-get="/ui/duration-timepicker" hx-target="#duration" hx-trigger="load"></div>
    </div>
</form>