<div id="map" class="absolute bottom-0 left-0 right-0 top-12 -z-50"></div>
<div class="absolute right-4 top-16 flex">
  <button class="h-14 w-14 rounded-full p-0 text-center" hx-get="/ui/map/filter-modal" hx-target="#modal">
    <img src="/static/images/icons/filter.svg" alt="Filter" class="inline-block h-8" />
  </button>
</div>
<div id="modal"></div>
<div id="alert"></div>

<script>
  const map = L.map("map").setView([48.137154, 11.576124], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19
  }).addTo(map);

  map.on("moveend", function () {
    const extend = map.getBounds().toBBoxString();
    updateDealsOnMap(extend);
  });

  async function updateDealsOnMap(extent) {
    const res = await fetch("/api/deals?extent=" + extent);
    const deals = await res.json();
    for (const deal of deals) {
      const coordinates = deal.Location.split(",").reverse();
      L.marker(coordinates).addTo(map);
      L.circle(coordinates, {
        color: "green",
        fillColor: "#009900",
        fillOpacity: 0.1,
        radius: "{{ .searchRadius }}"
      }).addTo(map);
    }
  }
</script>
