<div x-data="locationData">
  <div id="map" class="absolute bottom-10 left-0 right-0 top-12 -z-50"></div>
  <div class="absolute right-4 top-16 flex gap-2">
    <button class="h-14 w-14 rounded-full p-0 text-center" hx-get="/ui/map/location-modal" hx-target="#modal">
      <img src="/static/images/icons/map-pin.svg" alt="Location" class="inline-block h-8" />
    </button>
    <button class="h-14 w-14 rounded-full p-0 text-center" hx-get="/ui/map/filter-modal" hx-target="#modal">
      <img src="/static/images/icons/filter.svg" alt="Filter" class="inline-block h-8" />
    </button>
  </div>
  <div id="modal"></div>
  <div id="alert"></div>
  <div
    x-show="determineLocation"
    class="absolute bottom-12 left-4 right-4 flex items-center justify-center rounded-xl bg-green-500 p-4 text-white">
    <img x-show="determineLocation" src="/static/images/spinner.svg" alt="spinner" class="h-8 w-8 animate-spin" />
    <span>Ermittle aktuelle Position</span>
  </div>
</div>

<script>
  const map = L.map("map").setView([48.137154, 11.576124], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 20
  }).addTo(map);

  map.on("moveend", function () {
    const extend = map.getBounds().toBBoxString();
    updateDealsOnMap(extend);
  });

  async function updateDealsOnMap(extent) {
    const res = await fetch("/api/deals?extent=" + extent);
    const deals = await res.json();
    for (const deal of deals) {
      const coordinates = deal.Location.split(",").reverse();
      map;
      L.marker(coordinates).addTo(map);
      // L.circle(coordinates, {
      //   color: "green",
      //   fillColor: "#009900",
      //   fillOpacity: 0.1,
      //   radius: "{{ .searchRadius }}"
      // }).addTo(map);
    }
  }

  document.addEventListener("alpine:init", () => {
    Alpine.data("locationData", () => ({
      address: "",
      useLocationService: "{{ .useLocationService }}" == "true",
      determineLocation: false,
      getCurrentPosition: function ($event) {
        if ($event.target.checked) {
          this.determineLocation = true;
          this.address = "Suche aktuelle Position ...";
          window.navigator.geolocation.getCurrentPosition(async (position) => {
            map.setView([position.coords.latitude, position.coords.longitude], 18);
            this.address = await getAddress(position.coords.latitude, position.coords.longitude);
            this.determineLocation = false;
          });
        }
      },
      init: function () {
        if (this.useLocationService) {
          this.getCurrentPosition({ target: { checked: true } });
        }
      }
    }));
  });
</script>
