package adminview

templ Index() {
	@BaseLayout() {
		<div class="p-6">
			<h1>Willkommen im Cockaigne Admin Center</h1>
			<div class="flex flex-col gap-4">
				<a class="btn btn-primary" href="/admin-vouchers">Gutscheine</a>
				<a class="btn btn-primary" href="/admin-voucher-create">Gutschein erstellen</a>
				<a class="btn btn-primary" href="#">...</a>
				<a class="btn btn-primary" href="#">...</a>
			</div>
		</div>
	}
}
